$bg: #fff;
$fg: #000;
$btn-bg: #000;
$btn-fg: #fff;
$bdr: #ccc;

%content-block {
  margin: 1em auto;
  padding: 1em;
  text-align: left;
}

%rounded-border {
  border-radius: 0.5em;
  border: 1px solid $bdr;
}

@mixin card($width) {
  @extend %content-block;
  @extend %rounded-border;
  @if $width == narrow {
    max-width: 20em;
  } @else {
    max-width: 40em;
  }
}

body {
  text-align: center;
}

h1,
h2 {
  font-family: "Bad Script";
}

input[type="submit"],
input[type="text"],
textarea {
  @extend %rounded-border;
  background: $bg;
  box-sizing: border-box;
  color: $fg;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
}

input[type="submit"] {
  background: $btn-bg;
  border: none;
  color: $btn-fg;
  font-weight: bold;
  padding: 0.75em;
}

.chat-list {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;

  li {
    @include card(default);
    display: block;

    .created_by {
      display: inline;
      font-weight: bold;
    }

    .created_at::before {
      content: "\00b7";
      margin: 0 0.25em;
    }

    .created_at {
      color: lighten($fg, 50%);
      display: inline;
    }

    .message {
      margin: 0;
      overflow: scroll;
      white-space: pre-wrap;
    }
  }
}

.duck {
  font-size: 1.5em;
  margin-left: 0.25em;
}

.login-form {
  @include card(narrow);
}

.nickname {
  font-weight: bold;
}

.send-form {
  @include card(default);
}
