@use "sass:math";
@import "bootstrap/scss/bootstrap";

.avatar,
.avatar > svg {
  height: 3rem;
  width: 3rem;
}

.font-script {
  font-family: "Bad Script";
}

.mw-md {
  max-width: map-get($grid-breakpoints, md);
}

.mw-md-half {
  max-width: math.div(map-get($grid-breakpoints, md), 2);
}

.overflow-x-auto {
  overflow-x: auto;
}

.resize-none {
  resize: none;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}
