@use "sass:math";

$primary: Teal;
$info: DodgerBlue;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

.avatar,
.avatar > svg {
  height: 3rem;
  width: 3rem;
}

.avatar > i::before {
  font-size: 2rem;
}

.outline-none-focus:focus {
  outline: none;
}

.font-script {
  font-family: "Bad Script";
}

.mw-md {
  max-width: map-get($grid-breakpoints, md);
}

.mw-md-half {
  max-width: math.div(map-get($grid-breakpoints, md), 2);
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.resize-none {
  resize: none;
}

.text-gradient {
  display: inline-block;
  background: linear-gradient(120deg, Teal, Turquoise 75%, Cyan);
  background: -webkit-linear-gradient(30deg, Teal, Turquoise 75%, Cyan);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}
