<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/style.css" />
    <title><%= session.nickname %> - Quacker</title>
  </head>
  <body>
    <header>
      <h1>Quacker</h1>
    </header>
    <main>
      <h2>What are you doing now?<span class="duck">&#x1f986;</span></h2>
      <p>You are logged in as <span class="nickname"><%= session.nickname %></span>. To change your nickname, please <a href="login.html">logout</a>.</p>
      <form class="send-form" action="chat.html" method="GET">
        <div>
          <label for="message">Message</label>
        </div>
        <div>
          <textarea name="message" placeholder="Type a message" autofocus required maxlength="280"></textarea>
        </div>
        <div>
          <input type="submit" value="Send" />
        </div>
      </form>
      <ul class="chat-list">
        <li>
          <div class="created_by">Foo</div>
          <div class="created_at">2023-03-03 33:33</div>
          <p class="message">Sample text.</p>
        </li>
        <li>
          <div class="created_by">Bar</div>
          <div class="created_at">2023-03-03 22:22</div>
          <!-- prettier-ignore -->
          <p class="message">Sample text with new line.
Sample text with new line.
    Sample text with new line.
        Sample text with new line.
            Sample text with new line.
                Sample text with new line.</p>
        </li>
        <li>
          <!-- prettier-ignore -->
          <div class="created_by">Very very very very very very very very very very very very very long name</div>
          <div class="created_at">2023-01-01 11:11</div>
          <!-- prettier-ignore -->
          <p class="message">Very long long long long long long long long long long long long long long long long long long long long long long long long long text.</p>
        </li>
      </ul>
    </main>
    <footer>
      <address>&copy; 2023 <a href="https://github.com/t13a">Tatsuya Kitagawa</a></address>
    </footer>
  </body>
</html>
